<!-- Mobile Navigation -->
<div class="grid-x grid-padding-y align-center navigation hide-for-large" id="swup-header" style="z-index: 14">
  <div class="shrink cell">
    <a class="logo text-uppercase letter-spacing--loose" type="button" aria-label="Navigation" data-toggle="overlayNavigation">
    {% if bodyClass == "project" %}{{ entry.title }} <span class="dark-gray padding-left">{{ entry.client }}</span>{% else %}Shaheen Baig <span class="opacity-50">Casting</span>{% endif %}
    </a>
  </div>
</div>
<!-- End Mobile Navigation -->

<!-- Desktop Navigation -->
<div class="grid-x show-for-large align-justify align-middle navigation" id="swup-header" style="z-index: 14">

  <div class="small-4 cell align-middle">
      <ul class="menu small text-uppercase sans-regular letter-spacing--loose">
        <li><a href="/film">Work</a></li>
        <li><a href="/about">About</a></li>
      </ul>
  </div>

  <div class="small-4 cell text-center">
    <a href="/" class="logo text-uppercase letter-spacing--loose h5">{% if bodyClass == "project" %}{{ entry.title }} <span class="dark-gray padding-left">{{ entry.client }}</span>{% else %}Shaheen Baig <span class="opacity-50">Casting</span>{% endif %}</a>
  </div>

  <div class="small-4 cell align-middle text-right">
      <ul class="menu small text-uppercase sans-regular letter-spacing--loose align-right">
{#
        {% nav category in craft.categories.group('typeOfProject').all() %}
          <li>
           <a href="{{ category.url }}" class="">{{ category.title }}</a>
          </li>
        {% endnav %}
#}
        <li><a href="/notes">Notes</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  </div>
</div>
<!-- End Desktop Navigation -->
